<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Used to pair with a nearby display screen to show scan results.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Required by Stripe to verify the location of in-person card payments at the door.</string>
</dict>
</plist>
